@import 'styles/variables';

.header{
    // position: fixed;
    // top: 0px;
    // left: 0px;
    width: 100%;
    z-index: 100;

    padding-top: 1rem;
    // padding-top: 0.6rem /*!main_margin*/;
    padding-bottom: 0.6rem /*!main_margin*/;
    padding-left: 0.6rem /*!main_margin*/;
    padding-right: 0.6rem /*!main_margin*/;

    &__container{
        display: flex;
        justify-content: space-between;
        color: #EAE3D0;
    }

    &__navLink{
        font-size: 31.2399px;
        line-height: 43px;
        text-transform: capitalize;
        color: #EAE3D0;
    }
    
    &__navLinksContainer{

    }
}