@import 'styles/variables';

.header{
    position: static;
    width: 100%;
    // z-index: 100;
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;

    &__container{
        display: flex;
        // justify-content: space-between;
        color: #EAE3D0;
        align-items: center;
    }

    &__logo{
        margin-right: clamp(50px, 5vw, 106px);
        img{
            width: clamp(200px, 18vw, 312px);
        }
        
    }

    &__navLink{
        font-size: clamp(20px, 1.5vw, 31px);
        line-height: 43px;
        text-transform: capitalize;
        color: #EAE3D0;
        margin-right: clamp(50px, 4vw, 87px);
        transition: all .35s ease-in-out;

        &:last-of-type{
            margin-right: unset;
        }

        &:hover{
            transform: translateY(-7px);
        }


        &.main{
            font-size: clamp(20px, 2vw, 39px);
            line-height: 43px;
            margin-right: clamp(71px, 5.2vw, 111px);
            transition: all 0.35s ease-in-out;
    
            &:first-of-type{
                margin-left: 44px;
            }
            &:last-of-type{
                margin-right: unset;
            }
        }

        &.active{
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 16px;
            transform: translateY(-7px);
        }
    }

    &__navLinksContainer{
        display: flex;
        align-items: center;
        margin-right: Clamp(50px, 6vw, 67px);
    }

    &__contactUsBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #9048C9;
        color: #FFFFFF;
        font-size: clamp(20px, 1.5vw, 25px);
        padding-inline: clamp(33px, 2.5vw, 53px);
        padding-block: clamp(12px, 2vw, 20px);
        border-radius: 35px;
        transition: all .35s ease-in-out;

        &:hover{
            transform: scale(1.05);
        }

        &.main{
            background: #35F3C5;
            color: #000000;
            font-size: clamp(21px, 2vw, 33px);
            padding-inline: clamp(33px, 2.5vw, 53px);
            padding-block: clamp(12px, 2vw, 20px);
            border-radius: 44px;
        }
    }
}