* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  border: none;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

/* Body color */
body{
  background-color: rgb(255, 255, 255) /*!body_bgcolor*/;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}


/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

/* Form */
input,
textarea,
button,
select {
  border-color: inherit;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

button,
input[type='submit'] {
  display: inline-block;
  cursor: pointer;
  box-shadow: none;
  background: transparent none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

ul, li,
ul li {
  list-style-type: none;
  list-style: none;
}

.container-box{
  
}