@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-Regular.woff2') format('woff2'),
       url('/fonts/manrope/Manrope-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

/* Body color */
body{
  /* background-color: rgb(255, 255, 255); */
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  color: #FFFFFF;

  background-color: #282826;
  background-image: repeating-linear-gradient(to right, #3F3E3A 0px, #3F3E3A 0px, transparent 1px, transparent 120px);
  background-size: 136px 20px;
  background-position: center;

  @media all and (max-width: 768px) {
    background-image: repeating-linear-gradient(to right, #3F3E3A 0px, #3F3E3A 0px, transparent 1px, transparent 8.8vw);
    background-size: 10.5vw 20px;
  }
}



/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}


/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

/* Form */
input,
textarea,
button,
select {
  border-color: inherit;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

button,
input[type='submit'] {
  display: inline-block;
  cursor: pointer;
  box-shadow: none;
  background: transparent none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

ul, li,
ul li {
  list-style-type: none;
  list-style: none;
}

.container-box {
  width: 1230px;
  margin: 0 auto;
  box-sizing: border-box
}

.error-page{
  height: 1100px;
  display: flex;
  justify-content: center;
  background: url('/images/bb-error-404-v2.webp') no-repeat;
  background-position: center;
  /* background-size: cover; */
}

.error-page__title{
  font-size: 45px;
  margin-bottom: 50px;
}


@media all and (max-width: 1240px) {
  .container-box {
      width:1023px;
      padding-left: 16px;
      padding-right: 16px
  }
}

@media all and (max-width: 1240px) and (max-width:1023px) {
  .container-box {
      width:708px;
      padding-left: 0;
      padding-right: 0
  }
}

@media all and (max-width: 1240px) and (max-width:1023px) and (max-width:767px) {
  .container-box {
      width:100%;
      padding-left: 3%;
      padding-right: 3%;
  }
}

.main-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden
}

@supports (overflow: clip) {
  .main-wrapper {
      overflow:clip
  }
}

@media all and (max-width: 767px) {
  .main-wrapper {
      /* padding-top:24px */
  }
}

.br-desc {
  display: block;
}
.br-mob {
  display: none;
}
@media all and (max-width: 767px) {
  .br-desc {
    display: none;
  }
  .br-mob{
    display: block;
  }
}

